.menu__item{
    list-style: none;
    color: brown;
    margin-right: 1.25rem;
    text-decoration: none;
    cursor: pointer;
}
.menu__item.activo{
 color: #333333;
 font-weight: bold;
}
.menu__item:hover{
    color: orange;
    
    text-transform: uppercase;
}
.a{
    text-decoration: none;
}