.sobre__descripcion{
    color: #8C8888;
    text-align: center;
    font-weight: 80;
    
}

@media screen and (min-width:0) {
    .sobre__descripcion{
        font-size: 0.8rem;
    }   
}

@media screen and (min-width: 968px) {
    .sobre__descripcion{
        font-size: 1.25rem;
    }   
}